h1{
    color: blue;
}

body {
    background-color: #ffefd5;
    padding: 2px;
}

.navbar {
    overflow: hidden;
    background-color: #2d5685;
    width: 100%;

}

.navbar a {

    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:#ddd;
    color: black;
}