
body {
    background: linear-gradient(80deg, #F9B1F8 20%, #66BACE 80%);
    font-family: monospace;
  }
h1{
    color: black;
    font-size: 80px;
    text-align: center;
    display: block;
    font-family: "Oswald", sans-serif;
}
#question{
    font-size: 50px;
    text-align: center;
    font-family: "Oswald", sans-serif;

}
#next{
    font-size: 30px;
    margin-left: 50%;
    font-family: "Oswald", sans-serif;
}
.add1{
    margin-top: 100px;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
}
#movie{
    width: 40%;
    height: 30%;
}
#checkboxes{
    font-size: 40px;
    margin-left: 500px;
    text-align: left;
    font-family: "Oswald", sans-serif;
}
#subquestion{
    font-size: 20px;
    text-align: left;
    margin-left: 450px;
    font-family: "Oswald", sans-serif;
}
#subcheckboxes{
    font-size: 20px;
    margin-left: 290px;
    text-align: left;
    font-family: "Oswald", sans-serif;
}
