
body {
    background: linear-gradient(80deg, #F9B1F8 20%, #66BACE 80%);
    font-family: monospace;
  }
h1{
    color: black;
    font-size: 80px;
    text-align: center;
    display: block;
    font-family: "Oswald", sans-serif;
}
#question{
    font-size: 40px;
    text-align: center;
    font-family: "Oswald", sans-serif;
}
#next{
    margin-top: 70px;
    font-size: 30px;
    margin-left: 90%;
    display: block;
    font-family: "Oswald", sans-serif;
}
#previous{
    font-size: 30px;
    font-family: "Oswald", sans-serif;

    margin-top: -45px;
    margin-left: 40px;
}
.add1{
    margin-top: 50px;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
}
.add2{
    margin-top: 100px;
    font-family: "Oswald", sans-serif;
    font-size: 50px;
}
#movie{
    width: 40%;
    height: 30%;
}
#checkboxes{
    font-size: 30px;
    margin-left: 550px;
    text-align: left;
    font-family: "Oswald", sans-serif;
}
#subquestion{
    font-size: 30px;
    text-align: center;
    font-family: "Oswald", sans-serif;
}
#subcheckboxes{
    font-size: 30px;
    margin-left: 550px;
    text-align: left;
    font-family: "Oswald", sans-serif;
}
input[type=checkbox] {
    transform: scale(1.5);
}
input[type=radio] {
    transform: scale(1.5);
}
#suggestion{
    font-size: 40px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    color:darkviolet;
}
#suggestionText{
    font-size: 30px;
    text-align: left;
    margin-left: 500px;
    margin-right: 100px;
    margin-top: -450px;
    font-family: "Oswald", sans-serif;
    color:darkviolet;
}
#previous1{
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    margin-left: 700px;
    margin-top: -400px;
    position: block;
    align-self: left;
    margin-top: 70px;
    margin-left: 40px;
}
#random{
    font-size: 30px;
    font-family: "Oswald", sans-serif;
    margin-left: 900px;
    
    margin-top: 30px;
    align-self: right;
    margin-top: 70px;
    margin-left: 90%;
    text-align: right;
}
#suggestion1{ 
    position: block;
    margin-top: 10px;
    margin-right: 750px;
    margin-left: 50px;
}

